@import 'partials/setup';
@import 'partials/variables';
@import 'partials/nav';
@import 'partials/detailsContainer';
@import 'partials/featureContainer';

body {
	background-color: rgb(26, 3, 41);
}

h1 {
	color: $PrimaryColour;
	// margin: 0;
	font-size: 20px;
	text-transform: uppercase;
	
	.nameSplit {
		color: #EC116E;
	}
}

h2 {
	color: $PrimaryColour;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	font-weight: 800;
	text-transform: uppercase;
	padding: 5%;
	background-color: yellow;
}

p {
	color: $PrimaryColour;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 100;
	padding-top: 2%;
}

.wrapper {
	width: 1140px; //measured from psd
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.section {
	padding-top: 7%;
	// background-color: green;
}

.home {
	height: 100vh;
	background-image: url(../../images/flippedtwin.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.devicon {
	font-size: 100px;
	color: $PrimaryColour;
}

footer {
	color: $PrimaryColour;
}
