@import 'partials/setup';
@import 'partials/variables';
@import 'partials/nav';
@import 'partials/about';

body {
	background-color: rgb(26, 3, 41);
}

h1 {
	font-size: 20px;
	margin: 0;
	color: white;
	text-transform: uppercase;
	.nameSplit {
		color: $Pink;
	}
}

p {
	color: $Grey;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 800;
}

.wrapper {
	width: 1140px; //measured from psd
	// background-color: lightgrey;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.home {
	height: 100vh;
	background-image: url(../../images/flippedtwin.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.detailsContainer {
	width: 34%;
}

.featureContainer {
	width: 66%;
	background-color: lime;
}