.about {
	margin-bottom: 2%;
}

.aboutDetails {
	width: 55%;
}

.aboutFeature {
	width: 45%;
}

.aboutDetails {
	padding: 6% 0;
}

.aboutText {
	padding: 8% 0;
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
}
