

.detailsContainer {
	width: 34%;
}

.detailsBox {
	margin: 0;
}

.aboutDetails {
	padding: 8% 6%;
}

.detailsContact {
	padding-top: 5%;
	padding-left: 6%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.contactImage {
	width: 20%;
}

.contactTitle {
	width: 80%;
	position: relative;
}

.contactText p {
	padding: 0;
}