

.projectsFeature {
	width: 100%;
	// background-color: white;
	margin-top: 5%;
	padding: 1% 4%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.projContainer {
	width: 30%;
}

.projImage {
	background-color: white;
	padding: 6%;
	img {
		width: 100%;
		 display: block;
    margin: 2% auto;
	}
}

.projectInfo {
	margin-top: 4%;
}