

.skillsRow {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.topRow {
	padding: 0 0 4% 0;
}

.row {
	padding: 4% 0;
}

ul {
	color: $PrimaryColour;

}

li {
	color: $PrimaryColour;
	line-height: 22px;
}

.devicon {
	margin: 2% 5%;
	font-size: 90px;
	color: rgb(26, 3, 41);
}
